$blue:    #01238a;

@import "./always.scss";
@import "./cyborg/variables.scss";
@import "./bootstrap/bootstrap.scss";
@import "./cyborg/bootswatch.scss";

.to-invert {
    filter: invert(100%);
}

a {
    color: #5f86fc;
}

a:hover {
    color: #afc3ff
}
